# Ignore Visual Studio files
.vs/
bin/
obj/
*.user
*.so
*.cache

*.exe
*.bin
__pycache__
*.so

# Ignore NuGet packages
packages/
build
*.build
*.dist.*.onefile-build
# Ignore build artifacts
*.build
*.bin
CSVM.bin
*.spec